myos:
  percentage: 80
  loadavg: 20
  oom:
    --period: 10
    
repl:
  --user: mymon
  --password: mymon
  seconds_behind_master: 2000
  auto_slave_restart: 1
  test_tcp_connect: 1

proc:
  --rc: 10
  --querytime: 500

email:
  smtp_host: smtp-rly.com
  receiver:
    - someone@personal.com

slack:
  url: https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
  channel: '#mysql'
