myos:
  percentage: 80

repl:
  --user: mymon
  --password: mymon
  seconds_behind_master: 2000

email:
  smtp_host: smtp-rly.com
  receiver:
    - someone@personal.com

slack:
  url: https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
  channel: '#mysql'
